*{ padding:0px; margin:0px; list-style:none}
h1,h2,h3,h4,h5,h6 {margin:0;padding:0;font-size:12px;font-weight: normal;}
select,input,img,select{vertical-align:middle; margin:0;padding:0;}
table{ border-collapse:collapse; border-spacing:0;}
img{vertical-align:middle; border:none}
body{color:#333;font-family:'Microsoft YaHei','微软雅黑',STXihei,'华文细黑',Heiti,'黑体',SimSun,'宋体',sans-serif;font-size: 14px;margin:0;padding:0;line-height: 100%;background:#fff;}
a{color: #333;text-decoration:none;cursor: pointer;}
a:hover{color:#00A599;text-decoration:none;}